@inherits FileActivityComponentBase
    <div class="ui form" style="height: 100%">
        @if (IsReadOnly)
        {
            <textarea style="max-height: none; height: 100%; width: 100%; resize: none;" class="tt" @bind="Value" readonly></textarea>
        }
        else
        {
            <textarea style="max-height: none; height: 100%; width: 100%; resize: none;" class="tt" @bind="Value"></textarea>
        }

    </div>
@code
{
    [Parameter]
    public bool IsReadOnly { get; set; }
    protected string Value { get; set; }
    public override Task<string> GetValueAsync()
    {
        return Task.Run<string>(() => Value);
    }
    public override Task SetValueAsync(string value)
    {
        return Task.Run(() => { Value = value; });
    }
    public override Task SetDefaultValueAsync()
    {
        return Task.Run(() =>
        {
            var file = File as ALMS.App.Models.Contents.ActivityFilesText;
            Value = file.Default;
        });
    }
    public override Task SetAnswerValueAsync()
    {
        return Task.Run(() =>
        {
            var file = File as ALMS.App.Models.Contents.ActivityFilesText;
            Value = file.Answer;
        });
    }
}
