@inherits LayoutComponentBase
@inject NavigationManager NM;

<div class="ui fixed inverted menu">
    <div class="ui container">
        <AuthorizeView>
            <Authorized>
                <a class="header item" href="">
                    <i class="home icon"></i>
                    Home
                </a>
                @if (!string.IsNullOrWhiteSpace(OwnerAccount) && !string.IsNullOrWhiteSpace(LectureName))
                {
                    <a class="header item" href="/lecture/@OwnerAccount/@LectureName/page/master">
                        <i class="pencil icon"></i>
                        Lecture Home
                    </a>
                }
                <div class="right menu">
                    <AuthorizeView Roles="Admin" Context="AdminContext">
                        <a class="item" href="admin">
                            <i class="key icon"></i>
                            Administration
                        </a>
                    </AuthorizeView>
                    <div class="right menu">
                        <a class="item" href="profile">
                            <i class="user icon"></i>
                            @context.User.Identity.Name
                        </a>
                        <a class="item" href="logout">
                            <i class="sign-out icon"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <a class="header item" href="">
                    <i class="home icon"></i>
                    Home
                </a>
                <div class="right menu">
                    <a class="item" href="login">
                        <i class="sign-in icon"></i>
                        Login
                    </a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<!-- <div class="ui main text container"> -->
<div class="ui main">
    @Body
</div>

@code {
    private string LectureName { get; set; } = null;
    private string OwnerAccount { get; set; } = null;

    protected override void OnParametersSet()
    {
        object ownerAccount = null;
        object lectureName = null;
        (this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("OwnerAccount", out ownerAccount);
        OwnerAccount = ownerAccount?.ToString();

        (this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("LectureName", out lectureName);
        LectureName = lectureName?.ToString();
    }
}

