@inherits LayoutComponentBase
@inject ALMS.App.Services.IAuthService AuthService
@inject NavigationManager NM

<div class="ui fixed inverted menu">
    <div class="ui container">
        <a class="header item" href="/">
            <i class="home icon"></i>
            Home
        </a>

        <div class="right menu">
            <AuthorizeView>
                <Authorized>
                    <AuthorizeView Roles="Admin" Context="AdminContext">
                        <a class="item" href="/admin">
                            <i class="key icon"></i>
                            Administration
                        </a>
                    </AuthorizeView>
                        <div class="right menu">
                            <a class="item" href="/profile">
                                <i class="user icon"></i>
                                @context.User.Identity.Name
                            </a>
                            <a class="item" @onclick="LogoutAsync">
                                <i class="sign-out icon"></i>
                                Logout
                            </a>
                        </div>
                </Authorized>
                <NotAuthorized>
                    <a class="item" href="/login">
                        <i class="sign-in icon"></i>
                        Login
                    </a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>

<!-- <div class="ui main text container"> -->
<div class="ui main">
    @Body
</div>

@code{

    public async Task LogoutAsync()
    {
        await AuthService.LogoutAsync();
        NM.NavigateTo($"/login");
    }

}