@page "/{**path}"
@namespace ALMS.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Response.Headers["Cache-Control"] = "no-store";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALMS.App</title>
    <base href="~/" />

    <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui-css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/@@fortawesome/fontawesome-free/css/all.min.css">
    <link href="css/site.css" rel="stylesheet" />

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/site.js"></script>
    <script src="node_modules/semantic-ui-css/semantic.min.js"></script>
    <script src="node_modules/@@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            skipStartupTypeset: true,
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['$$','$$'], ['\\[','\\]']],
            processEscapes: true
          },
          CommonHTML: { matchFontHeight: false },
          displayAlign: "left",
          displayIndent: "2em"
        });
    </script>
    <script async src="node_modules/mathjax/es5/tex-chtml.js"></script>

    <script src="node_modules/ace-min-noconflict/ace.js"></script>
    <script>
        function setupAceEditor(id, mode, is_read_only) {
            var editor = ace.edit(id);

            var resizer = function () {
                editor.resize();
            };
            if (is_read_only) {
                editor.setReadOnly(is_read_only);
            }
            editor.getSession().setMode("ace/mode/" + mode);
            resizer();
            editor.getSession().on('change', resizer);
        }
        function getTextFromAceEditor(id) { return ace.edit(id).getValue(); }
        function setTextToAceEditor(id, text) { ace.edit(id).setValue(text); }

        function modalControl(target, action) { $(target).modal(action); }
        function scrollToBottom(targetId) { $("#" + targetId).scrollTop($("#" + targetId)[0].scrollHeight); } // don't it work?
        function setTab(targetId) { $("#" + targetId + " .menu .item").tab(); console.log("#" + targetId + " .item"); }

        function typesetMathJax() { MathJax.typeset(); }
        function consoleLog(msg) { console.log(msg); }

        function setMathJaxConfig(conf) {
            console.log(conf);
            window.MathJax = conf;
        }
    </script>

    <style type="text/css">


        .ui.main {
            margin-top: 6em;
            margin-bottom: 3em;
            margin-left: 3em;
            margin-right: 3em;
        }

        .tt {
            font-family: 'Courier New', Courier, monospace;
        }

        .ace-editor {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
